[submodule "contracts"]
	path = contracts
	url = git@github.com:iden3/contracts.git
[submodule "holder/jcard-plus-frontend"]
	path = holder/jcard-plus-frontend
	url = git@github.com:zkSnack/jcard-plus-frontend.git
