[submodule "contracts"]
	path = contracts
	url = git@github.com:iden3/contracts.git
[submodule "holder/holder-front-end"]
	path = holder/holder-front-end
	url = https://github.com/pratik1998/holder-front-end
